@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Ghost Koenig required classes */
.kg-width-wide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.kg-width-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.bg-secondary {
  background: var(--secondaryBg, #F6F6F6);
  color: var(--secondaryText, #000000);
}


body {
  font-family: var(--bodyFont);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primaryBg, #fff);
  color: var(--primaryText, #000000);
}

#announcement-bar-root .gh-announcement-bar {
  min-height: 40px;
  padding: 5px 15px;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--headingFont);
}

.page-content h1 {
  font-size: 54px;
  font-weight: 700;
}
.page-content h2 {
  font-size: 54px;
  font-weight: 700;
}
.page-content h3 {
  font-size: 28px;
  font-weight: 700;
}
.page-content h4 {
  font-size: 54px;
  font-weight: 700;
}
.page-content h5 {
  font-size: 54px;
  font-weight: 700;
}
.page-content h6 {
  font-size: 22px;
  font-weight: 700;
}

.container {
  width: 100%;
  padding-inline: 15px;

  @media (width >=112rem) {
    max-width: 1730px;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-menu .nav {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.featured-blog {
  --media-height: 550px;
}

.card-tags {
  display: flex;
  gap: .75rem;
}

.blog-posts {
  --media-width: 280px;
  --media-height: 680px;
}

.blog-posts-wrapper {
    grid-auto-rows: minmax(180px, 360px);
}

.recommended-post {
  --media-height: 390px;
}

.page-content>[id]+*,
.page-content .kg-card {
    margin-top: 20px;
}

.page-content>[id]:not(:first-child) {
  margin-top: 50px;
}

.page-content ul,
.page-content li+li,
.page-content p+p {
   margin-top: 20px;
}