@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-text: #000000;
  --color-primary-bg: #ffffff;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-secondary-text: #000000;
  --color-secondary-bg: #f6f6f6;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-accent-bg: var(--ghost-accent-color);
  --color-accent-border: color-mix(in srgb, var(--color-accent-bg) 100%, white 30%);
}

/* :root {
  --headingFont: '{{@custom.heading_font}}',
  sans-serif;
  --bodyFont: '{{@custom.body_font}}',
  sans-serif;
} */

.scheme-1 {
  --primaryBg: #ffffff;
  --primaryAlternateBg: color-mix(in srgb, var(--primaryBg) 100%, black 10%);
  --primaryText: #000000;
  --secondaryBg: #f6f6f6;
  --secondaryAlternateBg: color-mix(in srgb, var(--secondaryBg) 100%, black 10%);
  --secondaryText: #000000;
}

.scheme-2 {
  --primaryBg: #ffffff;
  --primaryAlternateBg: color-mix(in srgb, var(--primaryBg) 100%, black 10%);
  --primaryText: #000000;
  --secondaryBg: #f6f6f6;
  --secondaryAlternateBg: color-mix(in srgb, var(--secondaryBg) 100%, black 10%);
  --secondaryText: #000000;
}

.scheme-3 {
  --primaryBg: #ffffff;
  --primaryAlternateBg: color-mix(in srgb, var(--primaryBg) 100%, black 10%);
  --primaryText: #000000;
  --secondaryBg: #f6f6f6;
  --secondaryAlternateBg: color-mix(in srgb, var(--secondaryBg) 100%, black 10%);
  --secondaryText: #000000;
}

.scheme-4 {
  --primaryBg: #ffffff;
  --primaryAlternateBg: color-mix(in srgb, var(--primaryBg) 100%, black 10%);
  --primaryText: #000000;
  --secondaryBg: #f6f6f6;
  --secondaryAlternateBg: color-mix(in srgb, var(--secondaryBg) 100%, black 10%);
  --secondaryText: #000000;
}

.scheme-5 {
  --primaryBg: #ffffff;
  --primaryAlternateBg: color-mix(in srgb, var(--primaryBg) 100%, black 10%);
  --primaryText: #000000;
  --secondaryBg: #f6f6f6;
  --secondaryAlternateBg: color-mix(in srgb, var(--secondaryBg) 100%, black 10%);
  --secondaryText: #000000;
}

.color-theme-1 {
  background-color: #6A89A7;
  color: #ffffff;
}

.color-theme-2 {
  background-color: #BBB791;
  color: #ffffff;
}

.color-theme-3 {
  background-color: #a8dcabb8;
  color: #14741a;
}

.color-theme-4 {
  background-color: #CCCCFF;
  color: #4747a7;
}

.color-theme-5 {
  background-color: #F7D9BC;
  color: #705a45;
}

.color-theme-6 {
  background-color: #d1c397b8;
  color: #605942;
}





/* Ghost Koenig required classes */
.kg-width-wide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.kg-width-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--gh-font-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primaryBg, #fff);
  color: var(--primaryText, #000000);
}

#announcement-bar-root .gh-announcement-bar {
  min-height: 40px;
  padding: 5px 15px;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--gh-font-heading);
}

button.button {
  background-color: var(--ghost-accent-color);
}

.page-content h1 {
  font-size: 54px;
  font-weight: 700;
}

.page-content h2 {
  font-size: 38px;
  font-weight: 700;
}

.page-content h3 {
  font-size: 28px;
  font-weight: 700;
}

.page-content h4 {
  font-size: 22px;
  font-weight: 700;
}

.page-content h5 {
  font-size: 20px;
  font-weight: 700;
}

.page-content h6 {
  font-size: 18px;
  font-weight: 700;
}

.container {
  width: 100%;
  padding-inline: 15px;

  @media (width >=112rem) {
    max-width: 1730px;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-menu .nav {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 11;
  background: var(--primaryBg);
  transition: .5s cubic-bezier(.6, 0, .4, 1);
}

.header-sticky.is-hidden {
  top: calc(100% * -1);
  transition: .5s cubic-bezier(.6, 0, .4, 1);
}

.header-nav-close {
  display: none;
}

.hero-banner,
footer {
  --my-grid-cols: 1fr auto;
}

.featured-blog {
  --media-height: 550px;
}

.card-tags {
  display: flex;
  gap: .75rem;
}

.blog-posts {
  --media-width: 280px;
  --media-height: 680px;
}

.blog-posts-wrapper {
  grid-auto-rows: minmax(180px, 360px);
}

.recommended-post {
  --media-height: 390px;
}

.page-content>[id]+*,
.page-content .kg-card {
  margin-top: 20px;
}

.page-content .kg-card {
  border-radius: 20px;
  overflow: hidden;
}

.page-content .kg-card.kg-toggle-card {
  border-radius: 10px;
  overflow: hidden;
  background: var(--color-primary-alt-bg);
  box-shadow: none;
}

.page-content .kg-toggle-heading svg {
  color: currentColor;
}

.page-content .kg-card.kg-toggle-card[data-kg-toggle-state="open"] {
  background: var(--color-primary-text);
  color: var(--color-primary-bg);
}

.page-content>[id]:not(:first-child) {
  margin-top: 50px;
}

.page-content ul,
.page-content li+li,
.page-content p+p {
  margin-top: 20px;
}

blockquote {
  border-left: 3px solid var(--ghost-accent-color);
  font-style: italic;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slide-equal-height .swiper-slide {
  height: auto;
}

@media (max-width:1023px) {
  .header-menu {
    background: #fff;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 2rem;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    visibility: hidden;
    width: 100%;
    z-index: 99999;
    transition: all .3s ease;
  }

  .header-menu.is-open {
    transform: none;
    visibility: visible;
  }

  .header-menu .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .header-nav-close {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
}

@media (max-width:767px) {
  .page-content h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .page-content h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .page-content h3 {
    font-size: 22px;
    font-weight: 700;
  }

  .page-content h4 {
    font-size: 20px;
    font-weight: 700;
  }

  .page-content h5 {
    font-size: 18px;
    font-weight: 700;
  }

  .page-content h6 {
    font-size: 16px;
    font-weight: 700;
  }

  .mobile-swipe {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    scrollbar-width: none;
    grid-auto-flow: column;
    grid-auto-columns: minmax(85%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
    gap: var(--columnGap, 10px);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-right: -15px;
    padding-right: 15px;
  }

  .mobile-swipe.mobile-column-2 {
    grid-auto-columns: minmax(43%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(43%, 1fr));
  }
}